streamlit
pandas
nltk
numpy
wordcloud
plotly
matplotlib
seaborn
scikit-learn
openpyxl
spacy
https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.4.0/pl_core_news_sm-3.4.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz
